$typeHeaderPrimary: "Veneer";
//$typeHeaderFallback: {{ settings.type_header_font_family.fallback_families }};
$typeHeaderSize: 60px;
$typeHeaderWeight: 100;
$typeHeaderLineHeight: 1.25;
$typeHeaderSpacing: 25em;
$typeHeaderSecondary: "museo";
$typeHeaderSecondaryWeight: 900;
$typeLabelPrimary: "museo-sans";
$typeLabelPrimaryWeight: "700";
$typeBasePrimary: "museo-sans";
//$typeBaseFallback:{{ settings.type_base_font_family.fallback_families }};
$typeBaseSize: 16px;
$typeBaseWeight: 500;
$typeButtonWeight: 700;
$typeButtonFamily: "museo";
$typeButtonBorderWidth: "4px";
$typeBaseLineHeight: 1.25;
$typeBaseSpacing: 50em;

$iconWeight: 5px;
$iconLinecaps: miter;

$colorPrimary: #ffe500;
$colorBtnPrimary: #ffe500;
$colorBtnPrimaryDim: #000000;
$colorBtnPrimaryText: #ffffff;
$colorCartDot: #ff4f33;
$colorTextHeader: #000000;
$colorLink: #1c1d1d;
$colorTextBody: #1c1d1d;
$colorSalePrice: #1c1d1d;
$colorSaleTag: #1c1d1d;
$colorSaleTagText: #ffffff;
$colorBody: #ffffff;
$colorBodyDim: #ffffff;
$colorInputBg: #1c1d1d;
$colorInputBgDim: #1c1d1d;
$colorInputBgDark: #1c1d1d;
$colorInputText: #1c1d1d;
$colorFooter: #111111;
$colorFooterText: #ffffff;
$colorBorder: #1c1d1d;
$colorNav: #ffffff;
$colorNavText: #000000;
$colorAnnouncement: #1c1d1d;
$colorAnnouncementText: #ffffff;
$colorHeroText: #ffffff;
$colorModalBg: #000000;
$colorDrawerButtonText: #ffffff;
$color-body-text: #1c1d1d;
$color-body: #fff;
$color-bg: #fff;
