@import "_variables.scss";
@import "_typography.scss";
@import "_theme.scss";


@import "~bulma/sass/utilities/_all";
// Set your colors
$primary: $colorPrimary;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.g-button {
  background-color: #000;
  border:4px solid;
  border-radius: 1px;
  border-color: #000;
  width: auto;
  min-width: 150px;
  line-height: 1.42;
  color: #fff;
  font-weight:900;
  font-size:16px;
  padding: 24px;
  margin: 24px 24px 24px 24px;
  transition:all 500ms cubic-bezier(0.2, 0.06, 0.05, 0.95)
}

.g-button:hover {
  background-color: transparent;
  color: #000 !important;
  border-color: #000;
}

.button.is-primary {
  background-color: $colorPrimary !important;
  color: #000 !important;
}

.b-slider.is-primary .b-slider-fill {
  background: #000 !important;
}

.b-tooltip.is-primary .tooltip-content {
  background: $colorPrimary !important;
  color: #000;
}

.is-primary {
  background: $colorPrimary !important;
}

.form {
  margin: 0 1em;
}

@media (min-width: 1024px){
  .form {
    margin: 0 33%;
  }
}
